.main{
    background-color: #202124;
}
.header{
    background-color: #202124;
    color: white;
    font-size: 2rem;
    font-family: 'Baloo Bhai 2', cursive;
}
.pointsTable{
    color: white; 
    font-size: 20px;
    /* font-family: 'Baloo Bhai 2', cursive; */
    border: 0.08px solid #aba6a6;
    border-radius: 10px;
}
.borderBottomColor{
    border-bottom-color: yellow;
    border-bottom-width: 2px;
}
.gameInfo{
    color: white;
    font-size: 1rem;
    /* font-family: 'Baloo Bhai 2', cursive; */
}
.body{
    background-color: rgb(89, 174, 200);
}
.playArea{
    margin: auto;
    font-family: 'roboto', san-serif;
}
.boxStyle{
    color: white;
    border: 3.1px solid #5392a6;
    cursor: pointer;
    /* opacity: 0.2; */
}
.boxStyle:hover{
    background-color: rgb(91, 163, 185);
}
.box{
    font-size: 3.5vw;
    width: 1.8em;
    height: 6.5vw;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}  
.boxPulse{
    transform: rotate(-45deg) scale(1);
    animation: pulse 2s linear infinite;
}
@keyframes pulse{
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.8;
    }
    50% {
        transform: rotate(0deg) scale(1.5);
        opacity: 1;
    }
    100% {
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}
.X-turn-color{
    color: #545454;
}
.O-turn-color{
    color: white;
}
.X-turn-line-color{
    background-color: #545454;
}
.O-turn-line-color{
    background-color: white;
}
.bt-0{
    border-top: 0;
} 
.bl-0{
    border-left: 0;
}
.br-0{
    border-right: 0;
}
.bb-0{
    border-bottom: 0;
}
.congratsImg{
    width: 0;
    padding-top: 2rem;
    transition: width 1s ease-in-out;
}
.winnerTitle{
    font-size: 42px;
    color: #e7f400;
    vertical-align: middle;
    padding-left: 10px;
}
.crossline{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
}
.restart{
    background-color: #abc0e4;
    /* font-family: 'Baloo Bhai 2', cursive; */
    border-radius: 8px;
    font-size: 1rem;
}
lightning-button.restart {
	--sds-c-button-brand-color-background: rgb(1 118 211);
    --sds-c-button-text-color: #f4f7f9;
}
/* CSS to apply screens which are below 400px */
@media screen and (max-width: 500px){
    .body{
        flex-wrap: wrap;
    }
}
/* CSS to apply screens which are below 800px */
@media screen and (max-width: 800px){
    .box{
        padding-top: 6px;
    }
}
/* CSS to apply screens which are below 500px */
@media screen and (max-width: 500px){
    .scoreBoard{
        flex-wrap: wrap;
    }
}
/* CSS to apply screens which are above 200px and below 400px*/
@media (min-width: 200px) and (max-width: 420px){
    .box{
        font-size: 2.5em;
        width: 2em;
        height: 15vw;
    }
}
.blog{
    padding-top: 15px;
    /* color: darkorange; */
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20pX;
}